@model AyudaTestProject.Models.BeerGoogles
@using AyudaTestProject.Models
@{
    ViewBag.Title = "Home Page";
}
<h1>Find your favorite beer!!!</h1>

<div class="jumbotron" id="PickStyle">
    <h2>Pick a style!</h2>
    <ul>
    @foreach (Category c in Model.Categories)
    {
        <li>
            <span class="cursor" onclick="$(this).siblings('ul').slideToggle();">
                @c.name
            </span>
            <ul style="display:none;">
                @foreach (BeerStyle bs in c.Styles)
                {
                    <li>
                        <span class="cursor" onclick="$(this).siblings('div').slideToggle();">@bs.name</span>
                        <div class="small" style="display: none;">
                            @bs.description
                            <br />
                            <span class="btn btn-primary" onclick="BeerPicker.SetStyle('@bs.id', '@bs.name');" >Choose</span>
                        </div>
                    </li>
                }
            </ul>
        </li>
    }
    </ul>
</div>

<div class="jumbotron" id="PickSeason">
    <h2>Pick your favorite season!</h2>
    <ul>
        @foreach(BeerSeason season in Model.BeerSeasons)
        {
            <li>
                <span class="cursor" onclick="$(this).siblings('div').slideToggle();">@season.name</span>
                <div class="small" style="display: none;">
                    @season.description
                    <br />
                    <span class="btn btn-primary" onclick="BeerPicker.SetSeason('@season.id', '@season.name');">Choose</span>
                </div>
            </li>
        }
    </ul>
</div>

<div class="jumbotron" id="pickGlassware">
    <h2>Pick your favorite glassware!</h2>
    <ul>
        @foreach (GlassWare glass in Model.Glasswares)
        {
            <li>
                <span class="btn btn-primary" onclick="BeerPicker.SetGlassware('@glass.id', '@glass.name')">@glass.name</span>
            </li>
        }
    </ul>
</div>

<div class="jumbotron" id="pickOrganic">
    <h2>Do you prefer it organic?</h2>
    <ul>
        <li>
            <span class="btn btn-primary" onclick="BeerPicker.SetOrganic(true);" >YES</span>
        </li>

        <li>
            <span class="btn btn-primary" onclick="BeerPicker.SetOrganic(false);" >NO</span>
        </li>
    </ul>
</div>

<div class="jumbotron" id="pickLabel">
    <h2>Should it have a label?</h2>
    <ul>
        <li>
            <span class="btn btn-primary" onclick="BeerPicker.SetLabel(true);">YES</span>
        </li>

        <li>
            <span class="btn btn-primary" onclick="BeerPicker.SetLabel(false);">NO</span>
        </li>
    </ul>
</div>


<div id="SearchResults" style="display: none;">

</div>


@section scripts{
    <script type="text/javascript">
    </script>
}